In [221]:
# Airbnb Data Preparation and Cleaning Workshop

import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
from sklearn.tree import DecisionTreeClassifier
import math
from statistics import median

df = pd.read_csv("renamed_reco_train.csv")
df.head(10)
len(df)
#remove report date as they are all the same
df['report_date'].unique()
df = df.drop('report_date', axis='columns')
# remove customer index remove
df = df.drop("customer_id", axis='columns')
count = df['gross_income'].isna().sum()
df['gross_income'] = df['gross_income'].fillna(df['gross_income'].median())
df.head(10)
age_new = df.iloc[:,3]
print(len(age_new))
age_new[1020:1040]
new = []
for i in age_new:
    if i != ' NA':
        new.append(int(i))

med = median(new)
med
age = []
for i in age_new:
    if i !=' NA':
        age.append(int(i))
    else:
        age.append(med)
age[1020:1040]
df['age'] = age

df['country_residence'].unique()
#has NA and many countries one hot encode
count = df['country_residence'].isna().sum()
#dropping row if column country_residenceis NA
df = df.dropna(subset=["country_residence"])
len(df)
df['gender'].unique()  
# binary one hot encode
df['contract_start_date'].unique() 
#one hot encoding for many variables
df['new_customer_index'].unique() 
# binary one hot encode
df['seniority_months'].unique() 
#conversion from string to int
new = []
for i in df['seniority_months']:
    new.append(int(i))
df['seniority_months'] = new

df['customer_relation_type'].unique()
# binary one hot encode
df['residence_index'].unique()
# binary one hot encode
df['foreigner_index'].unique()
# binary one hot encode
df['join_channel'].unique()
#one hot encoding for many variables
df['deceased_index'].unique()
# binary one hot encode
df['province_name'].unique()
#one hot encoding for many variables
df['customer_segment'].unique()
#one hot encoding for many variables
df['employee_index'].unique()
df = df.drop('employee_index', axis='columns')
df = pd.get_dummies(df, columns=['customer_segment','province_name','join_channel','country_residence', 'contract_start_date'], dtype = int)
#one hot encoding for many variables
df = pd.get_dummies(df, columns=['deceased_index','foreigner_index','residence_index','customer_relation_type','gender','new_customer_index' ], drop_first=True, dtype = int)
# binary one hot encode
df
cols = df.columns.tolist()
cols
cols = cols[:5]+cols[9:] + cols[5:9]
df = df[cols]
df

9999

,age,seniority_months,primary_customer_status,customer_type_start_month,gross_income,customer_segment_01 - TOP,customer_segment_02 - PARTICULARES,customer_segment_03 - UNIVERSITARIO,province_name_ALAVA,province_name_ALBACETE,...,deceased_index_S,foreigner_index_S,residence_index_S,customer_relation_type_I,gender_V,new_customer_index_1.0,fixed_deposits,loan,credit_card_debit_card,account
0,35,6,1.0,1.0,87218.100,0,1,0,0,0,...,0,0,1,0,0,0,0,0,0,1
1,23,35,1.0,1.0,35548.740,0,0,1,0,0,...,0,1,1,1,1,0,0,0,0,1
2,23,35,1.0,1.0,122179.110,0,0,1,0,0,...,0,0,1,1,1,0,0,0,0,1
3,22,35,1.0,1.0,119775.540,0,0,1,0,0,...,0,0,1,1,0,0,1,0,0,0
4,23,35,1.0,1.0,87835.005,0,0,1,0,0,...,0,0,1,0,1,0,0,0,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9994,23,34,1.0,1.0,156031.680,0,0,1,0,0,...,0,0,1,0,0,0,0,0,0,1
9995,27,34,1.0,1.0,79357.410,0,0,1,0,0,...,0,0,1,1,1,0,0,0,0,1
9996,24,34,1.0,1.0,652313.070,0,0,1,0,0,...,0,0,1,1,1,0,0,0,0,1
9997,23,34,1.0,1.0,130379.970,0,0,1,0,0,...,0,0,1,1,0,0,0,0,0,1
9998,30,34,1.0,1.0,87835.005,0,0,1,0,0,...,0,1,1,1,0,0,0,0,0,1

In [230]:
#train be 9000 values and test be 949 values
x_train = df.iloc[:9000,:151]
y_train = df.iloc[:9000,151:]
x_test = df.iloc[9000:,:151]
y_test = df.iloc[9000:,151:]

model = DecisionTreeClassifier(max_depth=3)
model.fit(x_train, y_train)
predictions = model.predict(x_test)
predictions == y_test

      fixed_deposits  loan  credit_card_debit_card  account
9047            True  True                    True     True
9048            True  True                    True     True
9049            True  True                    True     True
9050            True  True                    True     True
9051            True  True                    True     True
...              ...   ...                     ...      ...
9994            True  True                    True     True
9995            True  True                    True     True
9996            True  True                    True     True
9997            True  True                    True     True
9998            True  True                    True     True

[949 rows x 4 columns]